<p-panel header="Basic Pipes" class="p-2">
  <p>Pipes included in Angular - Usually in common module</p>
</p-panel>


<div class="grid">
  <div class="col-12 md:col-4">
    <p-card header="Uppercase">
      {{nameLower | uppercase}}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="Lowercase">

      {{nameUpper | lowercase}}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="Titlecase">
      {{fullName | titlecase}}
    </p-card>
  </div>
</div>